/*
 * File: styles.scss
 * File Created: Wednesday, 9th September 2020 6:58:06 pm
 * Author: Buwaneka (buwanekasumanasekara@gmail.com)
 * -----
 * Last Modified: Wednesday, 9th September 2020 6:58:06 pm
 * Modified By: Buwaneka (buwanekasumanasekara@gmail.com>)
 * --------------------------------------------------------------
 */

.list-item {
  &-b {
    background-color: #e9f1f2;
  }
  &-s {
    background-color: #ebdde9;
  }
  border-radius: 10px;
  &-top {
    &-wrapper {
      &-left {
        width: 20%;
        //background-color: yellow;
      }
      &-mid {
        width: 50%;
        //background-color: blue;
      }
      &-right {
        width: 30%;
      }
    }
  }
  &-bottom {
    &-wrapper {
      width: 100%;
      &-s {
        background-color: #d61ebc;
      }
      &-b {
        background-color: #0aacc2;
      }

      &-left {
        width: 60%;
      }
      &-right {
        width: 40%;
      }
    }
  }

  .seat {
    &-confirm {
      h3,
      i {
        color: green;
      }
    }
    &-pending {
      h3,
      i {
        color: grey;
      }
    }
  }
}
