/*
 * File: style.scss
 * Project: cellcard-play-pwa
 * File Created: Friday, 10th July 2020 2:42:07 pm
 * Author: Jude Fernando (jfernando@mitrai.com)
 * -----
 * Last Modified: Tuesday, 14th July 2020 2:04:02 am
 * Modified By: Jude Fernando (jfernando@mitrai.com)
 * -----
 * Copyright 2020 - 2020 Mitra Innovation Ltd., Mitra Innovation Ltd.
 */
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?s4v2nm");
  src: url("/fonts/icomoon.eot?s4v2nm#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?s4v2nm") format("truetype"),
    url("/fonts/icomoon.woff?s4v2nm") format("woff"),
    url("/fonts/icomoon.svg?s4v2nm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group1:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-group:before {
  content: "\e900";
}
.icon-users:before {
  content: "\e900";
}
.icon-loop:before {
  content: "\e90a";
}
.icon-content_copy:before {
  content: "\e903";
}
.icon-check_circle:before {
  content: "\e907";
}
.icon-filter_list_alt:before {
  content: "\e904";
}
.icon-link:before {
  content: "\e905";
}
.icon-link-2:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-save:before {
  content: "\e909";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-location2:before {
  content: "\e948";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-loop2:before {
  content: "\ea2e";
}
