/*
 * File: styles.scss
 * File Created: Saturday, 5th September 2020 5:39:20 pm
 * Author: Buwaneka (buwanekasumanasekara@gmail.com)
 * -----
 * Last Modified: Saturday, 5th September 2020 5:39:20 pm
 * Modified By: Buwaneka (buwanekasumanasekara@gmail.com>)
 * --------------------------------------------------------------
 */

.search-component {
  .tags-wrapper {
    .btn {
      display: inline;
    }
  }
  input {
    font-size: 2vh;
    max-width: 100%;
  }
  .dropdown {
    .btn {
      text-transform: capitalize;
    }
  }
}
