/*
 * File: styles.scss
 * File Created: Friday, 4th September 2020 2:54:32 pm
 * Author: Buwaneka (buwanekasumanasekara@gmail.com)
 * -----
 * Last Modified: Friday, 4th September 2020 2:54:33 pm
 * Modified By: Buwaneka (buwanekasumanasekara@gmail.com>)
 * --------------------------------------------------------------
 */

.page-home {
  img {
    height: 100%;
    width: 100%;
    max-width: 512px;
  }
  .logo {
    width: 100%;
    height: 400px;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
